<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.g2ex.tools</string>
	<key>connections</key>
	<dict>
		<key>191E9B4D-4710-4F1C-8111-084FE67016E2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B957EEA0-9A08-41A5-8DA0-8F4877856670</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>668743EE-30C7-4F23-9FF4-E762FD4ABF3C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B957EEA0-9A08-41A5-8DA0-8F4877856670</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8DFC9BCD-41DD-423A-9024-D4E16EAFCCB1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DF65D83-23AC-43A3-9103-38D56373E3AD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B957EEA0-9A08-41A5-8DA0-8F4877856670</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8DFC9BCD-41DD-423A-9024-D4E16EAFCCB1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Gymgle</string>
	<key>description</key>
	<string>Formatter your JSON string to beautiful JSON</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JSON Fomatter</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>2</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>668743EE-30C7-4F23-9FF4-E762FD4ABF3C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import json

query = sys.argv[1]
print(json.dumps(json.loads(query), ensure_ascii=False, encoding='UTF-8', sort_keys=True, indent=4, separators=(',', ': ')))</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>B957EEA0-9A08-41A5-8DA0-8F4877856670</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8DFC9BCD-41DD-423A-9024-D4E16EAFCCB1</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Copied to your clipboard</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>3DF65D83-23AC-43A3-9103-38D56373E3AD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>json</string>
				<key>subtext</key>
				<string>Formatter string to beautiful JSON</string>
				<key>text</key>
				<string>Paste your string ...</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>191E9B4D-4710-4F1C-8111-084FE67016E2</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Formatter your JSON string to beautiful JSON.</string>
	<key>uidata</key>
	<dict>
		<key>191E9B4D-4710-4F1C-8111-084FE67016E2</key>
		<dict>
			<key>xpos</key>
			<integer>105</integer>
			<key>ypos</key>
			<integer>270</integer>
		</dict>
		<key>3DF65D83-23AC-43A3-9103-38D56373E3AD</key>
		<dict>
			<key>xpos</key>
			<integer>700</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>668743EE-30C7-4F23-9FF4-E762FD4ABF3C</key>
		<dict>
			<key>xpos</key>
			<integer>115</integer>
			<key>ypos</key>
			<integer>105</integer>
		</dict>
		<key>8DFC9BCD-41DD-423A-9024-D4E16EAFCCB1</key>
		<dict>
			<key>xpos</key>
			<integer>530</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
		<key>B957EEA0-9A08-41A5-8DA0-8F4877856670</key>
		<dict>
			<key>xpos</key>
			<integer>325</integer>
			<key>ypos</key>
			<integer>180</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.1</string>
	<key>webaddress</key>
	<string>https://github.com/gymgle/json-formatter-alfred-workflow</string>
</dict>
</plist>
